/* imbedded font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');

/* var */

:root {
    --bg: rgb(255, 255, 255);
    --box: rgba(84, 87, 105, 0.639);
  }

/* html */

html {
    scroll-behavior: smooth;
}

/* algemeen */

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}

/* body */

body{
    background-color: var(--bg);
}







/* header */

header {
    background-color: rgba(0, 13, 255, 0.765);
    backdrop-filter: blur(4px);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0em;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 1em 0em 0em 0em;
}

header a {
    color: white;
    font-family: 'Caudex', serif;
    text-decoration: none;
    font-size: 2em;
}

header>a:first-of-type {
    margin-left: 1em;
}

header nav {
    margin: 1.2em 0.5em 1em 2em; 
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    list-style-type: none;
    font-size: 20px;
}

header nav ul li {
    margin-bottom: 1em;
}

header nav ul li a {
    color:  white;
    text-decoration: none;
    border-radius: 5em;
    font-size: 1em;
    outline: 1px solid;
    padding: 0.3em 0.8em 0.3em 0.8em;
}

header nav ul a:hover,
header nav ul a:active,
header nav ul a:focus {
    background-color: rgba(178, 178, 178, 0.432);
}





/* main */

main article {
    margin-left: 2em;
    margin-right: 2em;
}

main article:nth-of-type(1){
    background-color: var(--bg);
}

main article:nth-of-type(1) section:first-of-type p {
    margin-bottom: -1em;
}

main article:nth-of-type(1) section h2 {
    font-family: 'Caudex', serif;
    margin-top: 2.7em;
    font-size: 5em;
}

.content main article:nth-of-type(1) section h2 {
    font-size: 3em;
    margin-top: 4.6em;
}

main article:nth-of-type(1) section h3 {
    display: flex;
    font-family: 'Caudex', serif;
    font-size: 3em;
    margin-top: 0.5em;
}

main article section:first-of-type p {
    font-size: 2em;
    margin-bottom: 1em;
}

main article section p {
    font-size: 1.3em;
    margin-bottom: 1.3em;
    margin-top: 0.6em;
}

main article:nth-of-type(1) section img {
    max-width: 100%;
    margin-top: 8em;
    border-radius: 2em;
    box-shadow: var(--box) 0px 7px 29px 0px;
}

.content main article:nth-of-type(1) section img:nth-of-type(2),
.content main article:nth-of-type(1) section img:nth-of-type(3) {
    margin-top: 2em;
    box-shadow: var(--box) 0px 7px 29px 0px;
}

main article section a {
    color:  white;
    background-color: rgb(0, 13, 255);
    padding: 1% 5% 1% 5%;
    text-decoration: none;
    border-radius: 5em;
    font-size: 1.3em;
    padding: 0.6em 1em;
    font-family: 'Caudex', serif;
}

.content article section fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.content article section fieldset a {
    gap: 1em;
}

main>article:nth-of-type(1) section a:hover,
main>article:nth-of-type(1) section a:focus,
main>article:nth-of-type(1) section a:active {
    background-color: rgba(178, 178, 178, 0.432);
    color: rgb(0, 13, 255);
}







main article:nth-of-type(2) {
    background-color: black;
    border-bottom: 1px solid white;
    margin: 0;
}

main article:nth-of-type(2) section h2 {
    font-family: 'Caudex', serif;
    margin: 4em 0em 0em 1em;
    padding-top: 0.7em;
    font-size: 2em;
    color: white;
}

main article:nth-of-type(2) section img {
    max-width: 100%;
    margin-bottom: 1em;
}

main article:last-of-type section p {
    color: white;
    font-size: 1.3em;
    margin: 1em 1em 0em 1.5em;
}

.content article:nth-of-type(2) section:last-of-type {
    margin-top: 1em;
    margin-bottom: 4em;
}

.content main article:nth-of-type(2) section:last-of-type ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    margin-left: 2em;
}

.content article:nth-of-type(2) section:last-of-type img {
    max-width: 19em;
    margin: 0;
    border-radius: 2em;
}





/* footer */

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    border-radius: 20em;
    max-width: 10em;
    margin-top: 4em;
}

footer h2 {
    color: white;
    font-family: 'Caudex', serif;
    font-size: 3em;
    margin-top: 0.5em;
}

footer p {
    color: white;
    margin: 1em 2em 0em 2em;
}

footer p:last-of-type {
    margin-bottom: 5em;
}






/* 1 small */
@media (min-width: 830px) {
    main article {
        margin-left: 10em;
        margin-right: 10em;
    }
    
    main article:last-of-type section {
        margin-left: 7.5em;
        margin-right: 7.5em;
    }

    header>a:first-of-type {
        margin-left: 5em;
    }
    
    header nav {
        margin-left: 10em;
    }
}

/* 2 small */
@media (min-width: 1400px) {
    main article {
        margin-left: 20em;
        margin-right: 20em;
    }
    
    main article:last-of-type section {
        margin-left: 17.5em;
        margin-right: 17.5em;
    }

    header>a:first-of-type {
        margin-left: 10em;
    }
    
    header nav {
        margin-left: 20em;
    }
}

/* 3 medium */
@media (min-width: 1600px) {
    main article {
        margin-left: 30em;
        margin-right: 30em;
    }
    
    main article:last-of-type section {
        margin-left: 28em;
        margin-right: 28em;
    }

    header>a:first-of-type {
        margin-left: 15em;
    }
    
    header nav {
        margin-left: 30em;
    }
}

/* 4 large */
@media (min-width: 2000px) {
    main article {
        margin-left: 40em;
        margin-right: 40em;
    }
    
    main article:last-of-type section {
        margin-left: 38.2em;
        margin-right: 38.2em;
    }

    header>a:first-of-type {
        margin-left: 20em;
    }
    
    header nav {
        margin-left: 40em;
    }
}

/* 5 large */
@media (min-width: 2450px) {
    main article {
        margin-left: 50em;
        margin-right: 50em;
    }
    
    main article:last-of-type section {
        margin-left: 48em;
        margin-right: 48em;
    }

    header>a:first-of-type {
        margin-left: 25em;
    }
    
    header nav {
        margin-left: 50em;
    }
}

/* 6 large tot 3440 */
@media (min-width: 2800px) {
    main article {
        margin-left: 73em;
        margin-right: 73em;
    }
    
    main article:last-of-type section {
        margin-left: 71em;
        margin-right: 71em;
    }

    header>a:first-of-type {
        margin-left: 36.5em;
    }
    
    header nav {
        margin-left: 73em;
    }
}